*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

/*
   @include respond(tab-land) { // width < 1200
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }
    
  @include respond(tab-port) { // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
     } */
body {
  box-sizing: border-box;
  padding: 3rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  60% {
    transform: translate(20px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  60% {
    transform: translate(-20px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: fantasy;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: rgba(68, 55, 25, 0.87); }

.heading-primary {
  color: rgba(92, 67, 17, 0.877);
  backface-visibility: hidden;
  margin-bottom: 6rem;
  /*
        animation-delay: 2s;
        animation-iteration-count: 3;
        animation-timing-function: ease-in;
        */ }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 5px;
    animation-name: moveInLeft;
    animation-duration: 2s; }
  .heading-primary--sub {
    display: block;
    font-size: 55px;
    font-weight: 500;
    letter-spacing: 21px;
    font-family: 'Trebuchet MS';
    animation-name: moveInRight;
    animation-duration: 2s; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear gradient(to right, rgba(75, 3, 75, 0.521), rgba(201, 37, 201, 0.733));
  /*-webkit-background-clip: text;
    color: transparent; */
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(75, 3, 75, 0.521); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 20rem !important; }

/*
0 - 600px;    phone
600 - 900px;  tablet portrait
900 - 1200px; tablet landscape
1200 - 1800px is where our normal styles apply
1800px  + ;   big desktop

ORDER  : Base + typography > general layout +grid > page layout >components
$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

1rem = 16px




@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
}
*/
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1,5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 2rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem #2b1905f6; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: rgba(139, 100, 32, 0.712);
  color: #251607; }
  .btn--white::after {
    background-color: rgba #1d1305; }

.btn--green {
  background-color: rgba(139, 100, 32, 0.712);
  color: #251607;
  padding: 2rem; }
  .btn--green::after {
    background-color: rgba #1d1305; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all ,3s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: rgba(85, 52, 22, 0.719);
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #301b07;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: rgba(61, 33, 8, 0.623);
  color: rgba(83, 46, 46, 0.699);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translate(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translate(0); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .80;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem; }
  .card__side {
    background-color: #2e2727;
    color: white;
    height: 50rem;
    transition: all .4s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem black; }
    .card__side--front {
      background-color: #be7e1e; }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: blue; }
      .card__side--back-2 {
        background-image: #00ffc8; }
      .card__side--back-3 {
        background-image: #00ffaa; }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 87%, 68% 100%, 32% 100%, 0 87%, 0% 43%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 87%, 68% 100%, 32% 100%, 0 87%, 0% 43%, 0 0);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px; }
    .card__picture--1 {
      background-image: url(../img/airport-transfer-1.jpg); }
    .card__picture--2 {
      background-image: url(../img/mykonos-tourist-map.jpg); }
    .card__picture--3 {
      background-image: url(../img/Mykonos-gr.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: black;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 40%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-color: rgba(192, 192, 206, 0.603); }
    .card__heading-span--2 {
      background-color: rgba(192, 192, 206, 0.603); }
    .card__heading-span--3 {
      background-color: rgba(192, 192, 206, 0.603); }
  .card__details ul {
    list-style: none;
    width: 80%;
    color: #5f2c08;
    margin: 0 auto; }
    .card__details ul li {
      text-align: center;
      font-size: 1.9rem;
      padding: 1.5rem; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    margin-bottom: 6rem;
    color: #ca7c15; }
  .card__price-only {
    font-size: 2rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.composition {
  position: relative;
  /*composition:hover composition__photo:not(:hover)*/ }
  .composition__photo {
    width: 60%;
    box-shadow: 0 1.5rem 4rem black;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid rgba(68, 55, 25, 0.87);
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem black;
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: white;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  height: 80%;
  border-radius: 2px;
  box-shadow: 0 1.5rem 4rem rgba(31, 15, 1, 0.904);
  transition: transform .3s;
  color: rgba(31, 15, 1, 0.904); }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .feature-box__text {
    color: #0a060a; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: blanchedalmond .5;
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #e79e165e; }
  .form__input:focus:invalid {
    border-bottom: 3px solid red; }
  .form__input::-webkit-input-placeholder {
    color: grey; }

.form__label {
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #e79e165e;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e79e165e;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate -50%, -50% scale(1); }
  .popup__close:link, .popup__close:visited {
    color: black;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .popup__close :hover {
    color: aliceblue; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate -50%, -50% scale(0.25);
    transition: all .5s .2s; }
  .popup__left {
    width: 33.333333%;
    display: table-cell; }
  .popup__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%;
    margin-top: 3rem;
    margin-left: 2rem; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 3rem;
    column-rule: 1px solid #5f2c08;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem black;
  background-color: #ffebcd .6;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #3f301d;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    transition: all .5s;
    filter: blur(3px) brightness(70%); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  border-top: 1px solid goldenrod;
  padding-top: 2rem;
  background-image: linear-gradient(to bottom, rgba(205, 229, 235, 0.411), rgba(148, 119, 32, 0.829)), url(../img/travelfinderss.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
  clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 50px;
    clip-path: ellipse(28% 33% at 50% 45%); }
  .header__logo {
    height: 100px; }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center; }

/* 
  .logo-box:hover {
      transform: rotate(180deg);
  
  */
.footer {
  background-image: linear-gradient(to top, rgba(205, 229, 235, 0.76), rgba(148, 119, 32, 0.829));
  padding: 10rem 0;
  font-size: 1.6rem;
  color: rgba(14, 11, 2, 0.829); }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 10rem;
    clip-path: circle(50% at 50% 50%); }
  .footer__logo {
    width: 15rem;
    height: auto;
    clip-path: circle(50% at 50% 50%); }
  .footer__navigation {
    border-top: 1px solid #2c2b28;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #131212;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #d38e0f;
    background-color: #8a4a1f;
    box-shadow: 0 1rem 2rem black .4;
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid goldenrod;
    padding-top: 2rem;
    width: 80%;
    float: right; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem #684107;
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#77460d, #6447125e);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  transition: opacity .8;
  opacity: 0;
  width: 0;
  transition: all 0.8s; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  transition: all .2s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #665116;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #665116;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  background-color: rgba(148, 119, 32, 0.829);
  padding: 20rem 10rem;
  margin-top: -10vh; }

.section-features {
  padding: 15rem 10rem;
  background-image: linear-gradient(to top, rgba(205, 229, 235, 0.76), rgba(148, 119, 32, 0.829));
  background-size: cover;
  /*
    transform: skewY(-7); 
    margin-top: -10rem;     
         .section-features*
    & > * {
        transform: skewY(-7deg);  
        */ }

.section-tours {
  padding: 20rem 0 10rem 0;
  margin-top: 0;
  background-image: linear-gradient(to top, rgba(148, 119, 32, 0.829), rgba(205, 229, 235, 0.76)); }

.section-stories {
  position: relative;
  padding: 20rem 0;
  background-image: linear-gradient(to top, rgba(205, 229, 235, 0.76), rgba(148, 119, 32, 0.829)); }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to bottom, rgba(205, 229, 235, 0.76), rgba(148, 119, 32, 0.829)); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem black .2;
  height: 50rem; }
  .book__form {
    width: 50%;
    padding: 6rem; }
