.feature-box {
    background-color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    height: 80%;
    border-radius: 2px;
    box-shadow: 0 1.5rem 4rem rgba(31, 15, 1, 0.904);
    transition: transform .3s;
    color:rgba(31, 15, 1, 0.904);

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        
    
    }
    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
    
    &__text {
        color :rgb(10, 6, 10);
    
    }
}